body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

.form-container{
    width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 100px auto;
}

.form-header{
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2{
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.form-header p{
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 25px;
}

.form-group label{
    font-size: 16px;
    color: #777;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.form-group input[type="submit"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover{
    background-color: #777;
}

.form-switch{
    text-align: center;
    margin-top: 20px;
}

.form-switch a{
    font-size: 16px;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: underline;
}

