* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
}
/*navbar styles*/
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background: #dffdff;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0% 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #00d9ff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #00d9ff;
    position: absolute;
    bottom: -6px;
    left: 18px;
}

/*first picture/section styles*/

#welcome-header {
    background: url('/media/welcome-pic.jfif') ;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 80px 80px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-position: scroll;
    background-color: #fafafa;
}

.welcome-text{
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: typing 3s steps(60, end),
    blink-caret .45s step-end infinite;
    margin-bottom: 35px;
}

.welcome-text h1 {
    text-align: left;
    font-size: 30px;
    color: #000000;
    @keyframes welcome-text {
        from {width: 0}
        to {width: 100%}
    }
    
}

.welcome-text2 {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: typing 4s steps(24, end),
    blink-caret .45s infinite;
    margin-bottom: 35px;
}

.welcome-text2 h2 {
    color: #00d9ff;
    font-size: 60px;
    @keyframes typing {
        from {width: 0}
        to {width: 100%}
    }
}

.welcome-text3{
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: typing 5s steps(24, end),
    blink-caret .45s infinite;
    margin-bottom: 35px;
}

.welcome-text3 h1 {
    text-align: left;
    font-size: 30px;
    color: #000000;
    @keyframes typing {
        from {width: 0}
        to {width: 100%}
    }
}

.welcome-text4{
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: typing 6s steps(45, end),
    blink-caret .45s infinite;
    margin-bottom: 35px;
}

.welcome-text4 h1 {
    text-align: left;
    font-size: 30px;
    color: #000000;
    @keyframes typing {
        from {width: 0}
        to {width: 100%}
    }
}

.welcome-text5 {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: typing 7s steps(24, end),
    blink-caret .45s infinite;
    margin-bottom: 35px;
}

.welcome-text5 button {
    z-index: 2000;
    background-color: transparent;
    color: #00d9ff;
    border: 0;
    padding: 14px 0px 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
    @keyframes typing {
        from {width: 0}
        to {width: 100%}
    }
}

/* categories section*/

.categories {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

.categories h1 {
    padding-top: 25px;
    background-color: #00d9ff;
    background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #bcf5ff 0%,
    #81ecff 21%,
    #54e1fa 52%,
    #2cdfff 78%,
    #00d9ff 100%
    );
    background-size: 100%;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.categories__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories__card {
    margin: 1rem;
    height: 350px;
    width: 250px;
    top: -50px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        #dffdff 100%
    ),
    url("/media/phones-cat.png");
    background-size: cover;
    position: relative;
    color: #fff;
}

.categories__card:nth-child(2) {
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        #dffdff 100%
    ),
    url("/media/cables-cat.png");
}

.categories__card:nth-child(3) {
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        #dffdff 100%
    ),
    url("/media/charging-brick-cat.png");
}

.categories__card:nth-child(4) {
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        #dffdff 100%
    ),
    url("/media/case-cat.png");
}

.categories__card:nth-child(5) {
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        #dffdff 100%
    ),
    url("/media/mount-cat.png");
}

.categories h2 {
    position: absolute;
    top: 320px;
    left: 0px;
    color:#000000;
}

.categories__card p {
    position: absolute;
    top: 350px;
    left: 0px;
    color:#00d9ff;
}

.categories__card a {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #81ecff;
    position: absolute;
    top: 390px;
    left: 0px;
    font-size: 1rem;
    cursor: pointer;
}

.categories__card:hover {
    transform: scale(1.3);
    transition: 0.4s ease-in;
    cursor: pointer;
}

/* review section*/
.reviews {
    position: center;
    padding: 50px 100px 50px 50px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

  /* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

  /* Place text to the right */
.right {
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.bar-5 {width: 80%; height: 18px; background-color: #006995;}
.bar-4 {width: 55%; height: 18px; background-color: #00accb;}
.bar-3 {width: 30%; height: 18px; background-color: #00d9ff;}
.bar-2 {width: 0.1%; height: 18px; background-color: #81ecff;}
.bar-1 {width: 0.1%; height: 18px; background-color: #bcf5ff;}

  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
    width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
    display: none;
    }
}

/*footer styles*/
.footer {
    width: 100%;
    background-color: #dffdff;
    padding: 10px 100px 40px 100px;
    display: flex;
}

.footer div {
    text-align: center;

}

.newsletter {
    flex-grow: 2;
    font-weight: 600;
}

.footer div h3 {
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.useful-links a {
    font-weight: 600;
    display: block;
    text-decoration: underline;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.newsletter form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px
}

.newsletter form button {
    background: transparent;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.contact-us h3 {
    font-size: 30px;
}

.contact-us p {
    font-size: 20px;
    color: #1a1a1a;
}

/*about-us page*/

.typing {
    text-align: center;
    padding: 60px 20px;
    max-width: 1250px;
    margin: 0 auto;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation: typing 2s forwards;
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.typing span {
    color: #00d9ff;
}

@keyframes typing {
    from {
    width: 0
    }

    to {
    width: 100%;
    border-right: hidden;
    }
}

.about-us{
    width: 100%;
    height: 80vh;
}

.about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h2 {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.text p {
    letter-spacing: 1px;
}
.text2 h2 {
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.text2 p {
    letter-spacing: 1px;
}
.picture {
    height: auto;
    width: 500px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team-main {
    width: 300px;
    height: 400px;
    padding: 50px 30px;
    margin: 2px;
  }
  
  .team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pic {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-content-box h3{
    color: #00d9ff;
    font-size: 1.5em;
    text-align: center;
}

.team-content-box h3:hover{
    color: #00accb;
    transition: 0.2s ease-in;
    font-size: 2em;
}
.team-content-box h4 {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .typed-out {
    font-size: 2em;
    }
}

@media only screen and (max-width: 900px) {
    .about {
        flex-direction: column;
    }
}
/*contact-us page*/

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact-main {
    width: 350px;
    height: 400px;
    padding: 50px 50px;
    margin: 10px;
  }
  
  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pic {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-content-box h3{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-content-box h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .contact {
    padding: 60px 20px;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .contact-form h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form p {
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  form .input-box span.details {
    display: block;
    font-weight: 550;
    margin-bottom: 4px;
  }
  
  .user-details .input-box input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #27ffff;
  }
  
  form .Priority-rating .priority-title {
    font-size: 20px;
    font-weight: 550;
  }
  
  form .category {
    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-between;
  }
  
  form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #000000;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  form label:hover {
    color: #00d9ff;
    cursor: pointer;
  }
  
  form input[type="radio"] {
    display: none;
  }
  
  form .button {
    height: 50px;
    margin: 40px 0
  }
  
  form textarea {
    resize: none;
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    background: #e2e2e2;
    color: rgb(0, 0, 0);
    margin-bottom: 0.7rem;
    border-radius: 10px;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #007bff;
  }
  
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* CSS for the Shop Page*/

  .Shop-Page{
    text-align: center;
  }

  .shop-message {
    text-align: center;
  }

  .Add2Basket {
    background-color: #4CAF50;
    border-radius: 12px;
    width: 150px;
    height: 40px;
}
/*CSS for the products */
.Products-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .ProductS {
    width: 300px;
    height: 400px;
    padding: 50px 30px;
    margin: 2px;
    }
    
    .Products4Sale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .pic {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    }
    
    /* set the width and height of the .pic element to be the same value */
    
    
    .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    }

    /*CSS for basket table*/
    table, th, td {
        border:1px solid black;
    }