* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palatino' , sans-serif;
}

body {
    width: 100%;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #dffdff;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0% 35px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #00d9ff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #00d9ff;
    position: absolute;
    bottom: -6px;
    left: 30px;
}