* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palatino' , sans-serif;
}

body {
    width: 100%;
}
/*navbar styles*/
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #dffdff;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0% 35px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #00d9ff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #00d9ff;
    position: absolute;
    bottom: -6px;
    left: 30px;
}

/*first picture/section styles*/





/*footer styles*/
.footer {
    width: 100%;
    background-color: #dffdff;
    padding: 10px 100px 40px 100px;
    display: flex;
}

.footer div {
    text-align: center;

}

.newsletter {
    flex-grow: 2;
    font-weight: 600;
}

.footer div h3 {
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.useful-links a {
    font-weight: 600;
    display: block;
    text-decoration: underline;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.newsletter form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px
}

.newsletter form button {
    background: transparent;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.contact-us h3 {
    font-size: 30px;
}

.contact-us p {
    font-size: 20px;
    color: #1a1a1a;
}