<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userdata List</title>
</head>
<body>
    <h1>Userdata List</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Category</th>
                <th>Texta</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userdata : ${userDataList}">
                <td th:text="${userdata.firstname}"></td>
                <td th:text="${userdata.secondname}"></td>
                <td th:text="${userdata.email}"></td>
                <td th:text="${userdata.phonenumber}"></td>
                <td th:text="${userdata.category}"></td>
                <td th:text="${userdata.texta}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
